.App {
  text-align: center;
}

.top-banner {
  background-color: #FF1F1F;
  color: whitesmoke;
  height: 400px;
}

.banner-text {
  padding: 50px;
}

.pokemon-name {
  padding: 50px;
}

input {
  width: 200px;
  height: 40px;
  font-size: 18px;
  border-radius: 7px;
  padding-left: 10px;
  border: #FF1F1F;
}

img {
  width: 200px;
}